
@import url('../base.css');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5px;
}

.register-container {
    background-color: var(--panel);
    border-radius: var(--radius);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
    padding: 15px 40px 0px 40px;
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    background: linear-gradient(90deg, var(--accent), var(--accent-2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
}

.subtitle {
    color: var(--text-light);
    font-size: 14px;
    margin-bottom: 40px;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}

input {
    width: 100%;
    padding: 14px 16px;
    border-radius: var(--radius);
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: var(--text-main);
    font-size: 15px;
    outline: none;
    transition: border-color .3s ease;
}

input:focus {
    border-color: var(--accent);
}

.btn {
    padding: 14px 26px;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    transition: all .3s ease;
}

.btn.primary {
    background: linear-gradient(90deg, var(--accent));
    color: var(--text-btn);
}

.btn:hover {
    transform: translateY(-2px);
}

.terms {
    font-size: 13px;
    color: var(--text-light);
    text-align: center;
    line-height: 1.4em;
}

.terms a {
    color: var(--accent);
    text-decoration: none;
}